@foreach (var item in ViewBag.item)
{
    <div>
        <div class="form-control">
            <lebel>Adress</lebel>
            <span>@item.adress</span>>
        </div>
        <div class="form-control">
            <lebel>Email</lebel>
            <span>@item.email</span>>
        </div>
        <div class="form-control">
            <lebel>phone</lebel>
            <span>@item.phoneNumber</span>>
        </div>
        <div class="form-control">
            <lebel>Messege</lebel>
            <span>@item.infoMessege</span>>
        </div>

    </div>
}